/* :root {
    --background-header: #0A2453;
    --white-color: #ffffff;
    --yellow-copper: #f9bc00;
    --yellow-copper-hove: #ae8264;
    --red-color: #C85652;
    --color-blue:#1E73BE;
} */

.mg{
    margin: 20px 0;
}

section{
    padding: 40px 0;
}
/* body{
    background-color: blueviolet ;
} */

/* header */

.header .header-top {
    background-color: var(--background-header);
    padding: 10px 0;
}

.header .header-top .inner {
    display: flex;
    justify-content: space-between;
}

.header .header-top .inner .box-left {
    display: flex;
    align-items: center;
}

.header .header-top .inner .box-left .fa-solid {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: 0 5px;
}

.header .header-top .inner .box-left .map span,
.header .header-top .inner .box-left .phone span {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header .header-top .inner .box-left .phone {
    margin: 0 10px;
}

.header .header-top .inner .box-right .list-info {
    display: flex;
    align-items: center;
}

.header .header-top .inner .box-right .list-info .fa-brands {
    font-size: 1.6rem;
    color: var(--white-color);
    margin: 0 5px;
}


.header .header-bottom {
    padding: 10px 0;
}

.header .header-bottom .inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .header-bottom .inner .header-bottom-left .logo{
    max-width: 250px;
}

.header .header-bottom .inner .header-bottom-right{
    display: flex;
    align-items: center;
}

.header .header-bottom .inner .header-bottom-right .menu {
    display: flex;
    justify-content: center;
}

.header .header-bottom .inner .header-bottom-right .menu li {
    margin: 0 20px;
}

.header .header-bottom .inner .header-bottom-right .menu li a {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--background-header);
}

.header .header-bottom .inner .header-bottom-right .menu li:hover a {
    color: var(--yellow-copper);
    border-bottom: solid 1px var(--yellow-copper);
    margin-bottom: 2px;
}

.header .header-bottom .inner .header-bottom-right .btn-project a{
    font-size: 1.3rem;
    padding: 10px 15px;
    color: var(--background-header);
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--background-header);
    border-radius: 8px;
    margin: 0 10px;
}

.header .header-bottom .inner .header-bottom-right .btn-project a:hover{
    color: var(--white-color);
    background: var(--background-header);
}


/* End header */


/* Slide-home */

.slide-home{
    padding : 0 !important;
}

.slide-home .box-slide .box-item .img-wrap {
    padding-top: 6% !important;
}

.slide-home .box-slide .box-item .img-wrap img {
    z-index: 1;
}

.slide-home .box-slide .box-item .img-wrap .item-content .btn-slide {
    padding: 15px 20px;
    color: var(--white-color);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid var(--white-color);
    border-radius: 8px;
}

.slide-home .box-slide .box-item .img-wrap .item-content .btn-slide:hover {
    background-color: var(--yellow-copper);
}

.arrow .arrow-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    left: 2%;
    border: 1px solid var(--white-color);
    width: 35px;
    height: 35px;
    color: #fff;
    transform: translateX(20%);
    display: none !important;
    transition: 2s;
}

.arrow .arrow-left:hover {
    background: var(--yellow-copper);
}

.arrow .arrow-left .icon-arrow-left {
    margin: 7px 10px;
    font-size: 20px;
}

.arrow .arrow-right {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    right: 2%;
    border: 1px solid var(--white-color);
    width: 35px;
    height: 35px;
    color: #fff;
    transform: translateX(20%);
    display: none !important;
    transition: 2s;
}

.arrow .arrow-right:hover {
    background: var(--yellow-copper);
}

.arrow .arrow-right .icon-arrow-right {
    margin: 7px 10px;
    font-size: 20px;
}

.slide-home:hover .arrow .arrow-left,
.slide-home:hover .arrow .arrow-right {
    display: block !important;
    transform: translateX(0%);
    transition: 2s;
}


/* End slide-home */


/* section vinahome */

 .inner-top{
    margin: 0 auto;
    padding-bottom: 30px;
}

.inner-top .title{
    color: var(--background-header);
    font-weight: 700;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.inner-top .is-drive{
    background-image: url(../images/line.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 20px;
    margin: 0 auto;
}

.inner-top .desc{
    font-size: 14px;
    margin: 20px 0;
    text-align: center;
}

.vinahome .item .icon{
    background: var(--yellow-copper);
    width: 100px;
    height: 100px;
    border: 2px solid var(--yellow-copper);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.vinahome .item .icon img {
    position: absolute;
    width: 60px;
    height: 76px;
    left: 17%;
    bottom: 12%;
}

.vinahome .item .content {
    text-align: center;
}

.vinahome .item .content .title{
    color: var(--background-header);
    font-size: 1.6rem;
    margin: 15px 0;
}

.vinahome .item .content .desc{
    font-size: 1.4rem;
}

.vinahome .btn-learn-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.vinahome .btn-learn-about a{
    padding: 10px 20px;
   background: var(--color-blue);
   color: var(--white-color);
   font-size: 14px;
   border-radius: 8px;
}

.vinahome .btn-learn-about a svg{
    width: 0rem !important;
    transition: all 0.6s;
}

.vinahome .btn-learn-about a:hover svg{
    width: 3.2rem !important;
}

/* end section vinahome */

/* section project */

.project{
    background: #f1f1f1;
}

.project .item .img-wrap{
    padding-top: 75.25%;
}
.project .item .img-wrap img:hover{
    -webkit-transform: scale(1.07) translateZ(0);
    transform: scale(1.07) translateZ(0);
    transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.project .item-content{
    padding: 20px 20px;
    border: 1px solid var(--yellow-copper);
    border-top: 0;
}

.project .item-content .title{
    font-size: 1.4rem;
    text-align: center;
}

.project .btn-project{
    text-align: center;
    margin: 10px 0;
}

.project .btn-project a{
    border: 2px solid currentColor;
    color: var(--background-header);
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 700;
}

.project .btn-project a:hover,
.project .btn-project a:hover .fa-plus{
    background-color: var(--background-header);
    color: var(--white-color);
}

.project .btn-project a .fa-plus{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--background-header);
    margin: 0 5px;
}
/* end section project */

/* contact-home */

.contact-home{
    background-image: url(../images/contact-home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-home .title{
    background-color: var(--white-color);
    width: auto;
    text-align: center;
    font-size: 22px;
    color: var(--background-header);
    margin-top: 0px;
    padding: 10px;
    opacity: 0.7;
    margin-bottom: 70px;
}

.contact-home .form-contact-home{
    border: 2px dashed var(--yellow-copper) !important;
    padding: 10px !important;
    background: var(--background-header) !important;
}


.contact-home .form-contact-home .wpcf7-form .wpcf7-form-control-wrap input,
.contact-home .form-contact-home .wpcf7-form .wpcf7-form-control-wrap textarea {
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    margin: 10px 0;
}

.contact-home .form-contact-home .wpcf7-form .btn-submit input{
    background-color: var(--background-header);
    border: 2px dashed var(--yellow-copper) !important;
    color: var(--white-color);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: 146px;
    height: auto !important;
    display: block;
    border: none;
    padding: 10px 0;
}

.contact-home .box-content{
    background-color: var(--white-color);
    padding: 10px 10px 10px 10px;
    margin: 0 0px 0px 0px;
}

.contact-home .box-content .h-title{
    color: var(--yellow-copper-hove);
    font-size: 30px;
    margin-bottom: 0.5em;
}

.contact-home .box-content .desc{
    font-size: 1.6rem;
    margin-bottom: 1.3em;
}

.contact-home .box-content .h-desc{
    font-size: 1.6rem;
    margin-bottom: 1.3em;
    text-transform: uppercase;
}

.contact-home .box-content .phone{
    border: 2px dashed var(--background-header);
    padding: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--yellow-copper-hove);
    margin-bottom: 0px;
    margin-top: 44px;
}

/* contac-home */


/* new */
.new .box-new{
    margin-bottom: 20px;
}
.new .box-item{
    box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.new .box-item .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: 0 1px 3px 1px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    height: 150px;
}

.new .box-item .content .title{
    font-size: 1.8rem;
    color: var(--color-blue);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.new .box-item .content .desc{
    font-size: 1.4rem;
    text-align: center;
}

.new .arrow .arrow-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    left: 2%;
    border: 1px solid  var(--background-header);
    width: 35px;
    height: 35px;
    color: var(--background-header);
    transform: translateX(20%);
    transition: 2s;
    display: block !important;
}

.new .arrow .arrow-left:hover {
    background: var(--yellow-copper);
}

.new .arrow .arrow-left .icon-arrow-left {
    margin: 7px 10px;
    font-size: 20px;
}

.new .arrow .arrow-right {
    position: absolute;
    z-index: 1;
    top: 50%;
    border-radius: 50%;
    right: 2%;
    border: 1px solid  var(--background-header);
    width: 35px;
    height: 35px;
    color: var(--background-header);
    transform: translateX(20%);
    transition: 2s;
    display: block !important;
}



.new .arrow .arrow-right .icon-arrow-right {
    margin: 7px 10px;
    font-size: 20px;
}




/* end new */

/* footer */
.footer .footer-top{
    padding: 40px 0;
    background: #F1EDED;
}

.footer .footer-top .box-left .logo img{
    max-width: 400px;
}

.footer .footer-top .box-left .name-cty{
    font-size: 2rem;
    color: var(--color-blue);
    font-weight: 700;
}

.footer .footer-top .box-left .list-info{
    margin: 20px 0;
}

.footer .footer-top .box-left .list-info .item{
    margin: 20px 0;
    font-size: 1.4rem;

}

.footer .footer-top .box-right iframe{
    width: 100%;
    height: 350px;
}

.footer .footer-bottom{
   background-color: var(--background-header);
   padding: 20px 0;
}

.footer .footer-bottom .copy-right{
    text-align: center;
    font-size: 1.4rem;
    color: var(--white-color);
}





/* End footer */
  


